.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 10px;

  h2 {
    margin: 10px 0;
  }

  .message-register-container {
    background-color: #82ff89;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    color: #000;
    font-size: 18px;
  }

  @media screen and (max-width: 400px) {
    width: 100%;
  }
}
